<!doctype html>
<html lang="en">

<head>
  {% block head %}
  <title>{% block title %}{% endblock %}</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"> -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"> {% endblock %}
</head>

<body>

  <nav id="sidebar">
    <a href="#">CSCI 3308</a>
    <a href="#">CSCI 3104</a>
    <a href="#">CSCI 2824</a>
  </nav>

  <div id="main">
    <div id="header">
      <div class="logo">
        <button id="expand">expand</button>
        <button id="close">close</button>
      </div>
      <h1>general</h1>
      <div class="dropdown">
          <button onclick="Hiuser()">
  <!--<span>Hi user</span>-->
  Hi User</button>

  <div class="dropdown-content">
    <p><a href="C:\Users\User.Lenovo-PC\Dropbox\3308\3308 Project\FormTest">Login</a></p>
    <p><a href="http://www.google.com">Sign up</a></p>
  </div>
</div>
    </div>
    <div id="content">
      {% block content %} {% endblock %}
    </div>
  </div>

  <div id="flashes">
    <ul>
      {% for category, message in get_flashed_messages(with_categories=true) %}
        <li class="{{ category }}"><span>&times;</span>{{ message }}</li>
      {% endfor %}
    </ul>
  </div>>

  </div>
  <script src="{{ url_for('static', filename='main.js') }}"></script>
</body>

</html>