<!doctype html>
<html lang="en">

<head>
  {% block head %}
  <title>{% block title %}{% endblock %}</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet"> 
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"> {% endblock %}
</head>

<body>

  <nav id="sidebar">
    <a href="#">CSCI 3308</a>
    <a href="#">CSCI 3104</a>
    <a href="#">CSCI 2824</a>
  </nav>

  <div id="main">
    <div id="header">
      <div class="logo">
        <button id="expand">expand</button>
        <button id="close">close</button>
      </div>
      <div class="header-item">
        <h1>general</h1>
      </div>
      <div class="header-item">
        <h2>{% if current_user.is_authenticated %}Hello, {{ current_user.first }}{% else %}login{% endif %}</h2>
      </div>
    </div>
    <div id="content">
      {% block content %} {% endblock %}
    </div>
  </div>

  <div id="flashes">
    <ul>
      {% for category, message in get_flashed_messages(with_categories=true) %}
        <li class="{{ category }}"><span>&times;</span>{{ message }}</li>
      {% endfor %}
    </ul>
  </div>>

  </div>
  <script src="{{ url_for('static', filename='main.js') }}"></script>
</body>

</html>