{% extends "base.html" %} {% block content %}
<div id="posts">
    <ul>
        {% for post in course.posts %}
        <li class="card">
            <div>
                <h1><a href="{{ url_for('course.show_post', course=post.course.department + post.course.course_number|string,id=post.id ) }}">{{ post.title }}</a></h1>
            </div>
            <div>
                <h2>by
                    <a href=#>{{ post.user.username }}</a>
                </h2>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
<div id="info" class="card">
    <div id="info-header">
        <h1>{{ course.department.upper() }} {{ course.course_number }}</h1>
        <div id="add-class">+</div>
    </div>
    <p>This class teaches techniques for writing computer programs in higher level programming languages to solve problems of interest in a range of application domains. This class is intended for students with little to no experience in computing or programming</p>
    <div class="row-container">
        <div class="row">
            <div class="row-item"><a href = "{{url_for('course.show_course',course=course.department + course.course_number|string)}}"> Post</a></div>

            <div class="row-item"><a href = "{{url_for('course.show_resources',course=course.department + course.course_number|string)}}">Resources</a></div>
        </div>
        <div class="row">
            <div class="row-item"><a href = "{{url_for('course.showmembers',course=course.department + course.course_number|string)}}">Members</a></div>
            <div class="row-item"><a href = "{{url_for('course.createPost',course=course.department + course.course_number|string)}}">Create Post</a></div>
        </div>
    </div>
</div>
{% endblock %}