{% extends "base.html" %}

{% block content %}
<div align="center">
	<h1><font size=+7>Create a Post</font></h1>
	<div>
		<form method="POST" class="post-form">
			{{ form.csrf_token }}
			<div>{{ form.title.label(class="form-label") }}<br>{{ form.title(class="create-post-field") }}</div>
			<div>{{ form.content.label(class="form-label") }}<br>{{ form.content(class="create-post-field") }}</div>
			<div class="form-row">{% for subfield in form.is_link %}
				<div>
					{{ subfield }}
					{{ subfield.label }}
				</div>
				{% endfor %}
			</div>
			<div>{{ form.course.label }}{{ form.course() }}</div>
			<div>{{ form.category.label }}{{ form.category() }}</div>
			<div>{{ form.submit() }}
		</form>
	</div>
</div>


{% endblock %}
