{% extends "base.html" %} {% block content %}
<div id="posts">
    <ul>
        {% for course in courses %}
        <li class="card">
            <div>
                <h1>
                    <a href="{{ url_for('course.show_course', course=course.department+course.course_number|string) }}">{{ course.department }} {{ course.course_number}}</a>
                </h1>
            </div>
            <div>
                <h2> {{ course.course_name }}
                </h2>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
<!-- <div id="info" class="card">
    <div id="info-header">
        <h1>CSCI 1300</h1>
        <div id="add-class">+</div>
    </div>
    <p>This class teaches techniques for writing computer programs in higher level programming languages to solve problems of interest in a range of application domains. This class is intended for students with little to no experience in computing or programming</p>
    <div class="row-container">
        <div class="row">
            <div class="row-item"><a href = "localhost:5000"> Post</a></div>

            <div class="row-item"><a href = "localhost:5000">Notes</a></div>
        </div>
        <div class="row">
            <div class="row-item"><a href = "localhost:5000">Students</a></div>
            <div class="row-item"><a href = "localhost:5000">Tutors</a></div>
        </div>
    </div>
</div> -->
{% endblock %}

{% block title_bar %} CS Connections {% endblock %}
{% block title %} CS Connections {% endblock %}