{% extends "base.html" %}

{% block content %}
<div id="posts">
    <ul>
        {% for post in posts %}
        <li class="card">
            <div>
            {% if post.is_link %}
                <h1><a href=#>{{ post.title }}</a></h1>
            {% else %}
                <h1><a href=#>{{ post.title }}</a></h1>
            {% endif %}
            </div>
            <div><h2>by <a href=#>{{ post.user.username }}</a></h2></div>
        </li>
        {% endfor %}
    </ul>
</div>
<div id="info" class="card">
    <div class="class-name">
        <h1>CSCI 1300</h1>
    </div>
<div class="row-container">
<div class="row">
    <div class="row-item">A</div> 
    <div class="row-item">B</div>
    </div>
<div class="row">
    <div class="row-item">C</div> 
    <div class="row-item">D</div>
    </div>    
</div>
       
      
</div>
{% endblock %}